<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <!-- Page Loader -->
    <%- include("./partials/nav.ejs") %>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/public/hero.jpg"> <!--style="min-height:200px;background-image:url('/public/hero.jpg');"--> 
            <form class="d-flex tm-search-form">
                <input id="text" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" style="width: 80%;">
                <select id="selectType">
                    <option value="name">nome</option>
                    <option value="type">tipo</option>
                    <option value="pos">posizione</option>
                </select>
                <button id="searching" class="btn btn-outline-success tm-search-btn" type="button">
                    <i class="fas fa-search" style="color:white;"> Search </i>
                </button>
            </form>
    </div>
    
    <script>
        document.getElementById("searching").onclick = function(){
            var tipo = document.getElementById('selectType').value;
            var nome = document.getElementById("text").value;
            window.history.replaceState({}, '', "search?" + tipo + "=" + nome); //set URL Param
            $('#mainContent').load();
        }
    </script>


    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4" style="margin-left:4%;width: 90%;">
            <h1 class="col-6 tm-text-primary" style="color:rgb(72, 144, 252)">
                OGGETTI
            </h1>
            <!-- TODO: Modificare per avere piu pagine e non tutte le immagini su una pagina
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <input type="text" value="<%= page %>" class="tm-input-paging tm-text-primary"> <%= Math.floor((num)/8)%>
                </form>
            </div>
            -->
        </div>
        <% if (obj.length > 0) { %>
            
                <div id="agg" class="row tm-mb-90 tm-gallery">
                    <% obj.forEach(obj => { %>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" ">
                        <a class="single" href="/object/<%= obj._id %>" >
                        <figure class="effect-ming tm-video-item"">
                            <img src="data:image/<%=obj.img.contentType%>;base64,
                                    <%=obj.img.data.toString('base64')%>" >
                            <!--
                            <figcaption class="d-flex align-items-center justify-content-center" style="text-align:center">
                                <h2><%= obj.name %><br></h2>
                                <a class="single" href="/object/<%= obj._id %>" >View more</a>
                            </figcaption>
                            -->
                        </figure>
                        </a>
                    </div>
                <% }) %>
                </div>
           
                <div id="target">
                </div>
        <% } else { %>
            <p>There are no object to display...</p>
        <% } %>
    </div>
        
    <% if(title=="All Object"){ %>            
    <!-- row -->
    <% if (page > 0) { %>
        <!-- TODO: Sistemare grafica, non è centrato-->
        <div class="row tm-mb-90" style="width:100%">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <%if(page!=1){%>
                    <a href="/?p=<%= page-1 %>" class="btn btn-primary tm-btn-prev mb-2">Last Page</a>
                <%} else{ %>
                    <a href="/" class="btn btn-primary tm-btn-prev mb-2 disable">No Page Before</a>
                <%}%>
                <div class="tm-paging d-flex">
                
                    <% if(page<4){
                            var start = 1;
                        }else if(page>= Math.floor((num)/8)-3){
                            var start = Math.floor((num)/8)-6;
                        } else {
                            var start = page - 3;
                    }%>
                    
                    <% for (var i=start; i <= start+6;  i++ ) { %>
                        <a href='/?p=<%= i %>' class='tm-paging-link'><%= i %></a>
                    <% } %>
                </div>
                <%if(page!=Math.floor((num)/8)){ %>
                    <a href="/?p=<%= parseInt(page)+1 %>" class="btn btn-primary tm-btn-next">Next Page</a>
                <%} else{ %>
                    <a href="/?p=<%= page %>" class="btn btn-primary tm-btn-next">No More Page</a>
                <%}%>
            </div>            
        </div>
    <% } %>
    <% } %>
    <!-- container-fluid, tm-container-content -->

    <%- include("./partials/footer.ejs") %>
    
    <script src="/js/plugins.js"></script>

    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>