<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <!-- Page Loader -->

    <%- include("./partials/nav.ejs") %>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary" style="color:rgb(72, 144, 252)"><%= obj.name %></h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img alt="Image" class="img-fluid"
                     src="data:image/<%=obj.img.contentType%>;base64,
                     <%=obj.img.data.toString('base64')%>">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                        <h3 class="tm-text-gray-dark mb-3" style="color:rgb(72, 144, 252)">Description: </h3>
                        <%= obj.desc %> <br>
                    </p>
                    <div class="text-center mb-5">
                        <a name="modify" class="modify btn btn-primary tm-btn-big" href="/modify/<%= obj._id %>">modify</a>
                        <a name="delete" class="delete btn btn-primary tm-btn-big" data-doc="<%= obj._id %>">delete</a>
                    </div>                    
                    <!--<div class="mb-4 d-flex flex-wrap">
                        
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">1920x1080</span>
                        </div>

                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">JPG</span>
                        </div>
                        
                    </div>-->
                    <div class="mb-4">
                        <h3 class="tm-text-gray-dark mb-3" style="color:rgb(72, 144, 252)">Position: </h3>
                        <p style="color:rgb(72, 144, 252)"><%= obj.pos %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    
    <script src="js/plugins.js"></script>
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/object/${trashcan.dataset.doc}`;
            fetch(endpoint, {
            method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>
</body>
</html>